
h2 {
  background-color: #1485CC;
  color: #ffffff;
  font-family: sans-serif;
}
h1 {
  background-color: #1485CC;
  color: #ffffff;
}
.title {
  font-size: 35px;
  font-family: sans-serif;
}
p{
  font-size: 200%;
  font-style: verdana;
}
